
body{
    background:#F6E4F8 ;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.firstbar{
    padding: 0em;
   text-align: center;
   

    .container{
        

        .first-img{
            display: flex;
            place-content: center;
            padding: 0em;
            font-size: .8em;
            text-decoration: none;
            
        }
        .fimg{
            margin-right: 1em;
            margin-bottom: 0em;
            padding-top: .8em;
            width: 15px;
            height: 15px;
        }
        p{
            color: black;
            font-weight: 500;
            font-size: 0.8em;
            
        }
        .socialaccounts{
            display: none;
        }
    }
}
.navbar{
    background:#6D1379 ;
    padding: 0;

    .container{
        display: flex;
        place-content: space-between;

        .mfm-img{
            width: 42px;
            height: 39.9px;
            background-color: transparent;
        }
            
        .search{
            display:none;

        }
        .menu-bar{
            width: 20px;
            height: 20px;
            padding-top: .5em;
            padding-bottom: .5em;
        }
        

        nav{
            display: none;
        }
    }

    .mfmimage{

        width: 0%;
        height: auto;
        margin-bottom: -0.5em;
        margin-left: 1em;

    }
    .menu-bar{
        font-weight: 500;
        font-size: 1.2em;
        cursor: pointer;
        margin-right: 1em;

    }

}

.hero{
    text-align: center; 
    
}

.center-design{
    padding: 7em;
    background-image: url("../images/front.gif");
    
    background-repeat: no-repeat;
    background-position: 62% 83% ;
    background-size: 100% 100%;
    margin-bottom: 0em;
    background-blend-mode: 90%;
    

    .headlinetext{
        color: black;
        font-size: 1.7em;
        font-weight: bold;
        letter-spacing: .002em;
        margin: 0em;
        padding: .1em;
            
    }

    .subhead{
        text-transform: uppercase;
        color: rgb(127, 120, 131);
        font-weight: bold;
        padding: .2em;
        font-size: .8em; 
        margin-top: 0em;
        margin-bottom: 0em;
        line-height: 1.5em;
    }

    .primary-cta{
        background: #C094E5;
        color: white;
        text-decoration: none;
        padding: .4em 1.1em;
        font-size: .9em;
        border-radius: 7em;
        font-weight: bold;
        display: inline-block;
        border: .2em solid grey; 
        margin-top: .5em;  

    }
    .watch-video-cta{
        display: block;
        margin-top: 1em ;
        font-size: 1em;
        position: inline-block;
        text-decoration: none;
        color: white;
       
        img{
            margin-right: .8em;
            color: black;
            
            
        }

    }
   
}
.second-hero{
    
    .container{
        background: #dda6dd;
        

        padding: 5em;
       
        background-size: 150% 100%;
        background-repeat: no-repeat;
        background-position: 50% 80%;

        .bible-picture-second-frame{
            width: 100%;
            margin-top: 0em;
            position: inline-block;
            padding: 0em;
            display: none;
              
        }

        .Our-focus{
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
            color: black;
            display: block;
            margin: 0;
           

        }
        ul{
            padding: 0;

        li{
            background: #c55cc5;
            text-align: center;
            padding: 2em .5em;
            width: 80%;
            margin: 0 auto 3em auto;
            border-radius: 1.5em;
            font-size: .5em;
            font-weight: bold;
            display: block;
            position: relative;
            box-shadow: 20px 10px 30px 0px rgba(0,0,0,0.4em);
            
            blockquote{
                padding: .5em;
                margin: 0em;
            }
            cite{
                padding: 0em;
                margin-top: 0em;
            }
            
               
        }
       
    }




    }

}

.third-hero{
    .container{
        text-align: center;
        padding: 5em;
        background-image: url("../images/ggg.jpeg");
        background-repeat: no-repeat;
        background-position: 62% 83% ;
        background-size: 100% 100%;

        .give-online{
            margin: 0;
            padding-bottom: 1em;    
        }
        .give-cta{
            background-color: #ee849b;
            padding: 1em;
            border-radius: .8em;
            box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.4em);
        }
       
        blockquote{
            font-size: .8em;
            font-weight: normal;
            margin: 0;
            
        }
         
        .give-now{
            background: #FBF7FC;
            text-transform: uppercase;
            color: black;
            text-decoration: none;
            text-align: center;
            padding: .6em 1.3em;
            font-size: .8em;
            border-radius: .5em;
            font-weight: 500;
            display: inline-block;
            margin-top: 1em;
            box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.4em);
            cursor: pointer;

            

            &:hover{
                font-weight: bold;
            }

        }
    }
}
.fourth-hero{
    background: url("../images/ddd.jpeg");
    padding: 3em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    .container{
        text-align: center;
        margin: 1em;
        .right-side{
            padding: 1em;
        }
        .fourth-holy-bible{
            width: 100%;
            display: none;
        }

        h1{
            text-decoration: none;
            color: white;
            text-align: center;
            font-weight: bold;
            font-size: 500;
            margin: 0em;
        }
        .about-join-us{
            text-decoration: none;
            color: white;
            text-align: center;
            font-size: 1em;
            font-weight: bold;
            padding: .5em;
            margin-bottom: .2em;
        }
        .learn-more{
            background:#CDD3E5;
            color: #2C1F36;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .8em; 
            padding: .5em .5em;
            border-radius: 3em;
            border:black solid .3em ;
            cursor: pointer;
            box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.4em);

            &:hover{
                font-weight: bold;

            }

        }
    }
}
.fifth-hero{
    .container{
        background: #c281c2;
        padding: 2em;
        .left-side{
            background-color: #b7a3e4;
            margin: 0em;
            box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.4em);
            
            h3{
                font-size: 1.2em;
                text-align: center;
                margin-top: .2em;
                margin-bottom: 0em;
                padding: .5em;


            }
            .about-prayer-request{
                text-align: center;
                margin: 0;
                padding: 1em;
                text-transform: uppercase;
            }
        }
        .right-side{

            .form-m{
                background:#ad60ad ;
                padding: 1em;
                box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.4em);
                
            }

            label{
                display: block;
                font-size: 1em;
                margin-bottom: .5em;
            }
            input, textarea{
                width: 100%;
                padding: .8em;
                background-color: #d6aad6;
                margin-bottom: 1em;
                border-radius: .3em;
                border: 1px solid gray;
                box-sizing: border-box;
            }
            input[type="submit"]{
                background-color: #69bfe0;
                color: black;
                font-weight: 400;
                font-size: .8em;
                border: none;
                border-radius: 3em;
                display: inline-block;
                width: unset;
                cursor: pointer;
                box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.4em);

                &:hover{
                    font-weight: bold;
                }

            }
        }
    
    }
}
.contact-us{
    .container{
        text-align: center;
        background: #dda6dd;

        padding: 0;
        .mfm-logo{
            width: 10%;
            height: auto;
            text-align: center;
            

        }

        .details{

            ul{
                padding: .5em;
                li{
                    text-align: center;
                    padding: 1em;

                    .call-us{
                        width: 35px;
                        height: 35px;
                        
                    }
                    .reach-us{
                        text-decoration: underline;
                        margin: 0em;
                        

                    }
                    .about-reach-us{
                        margin: 0;
                    }
                    .email-us{
                        text-decoration: underline;
                        margin: 0;
                        

                    }
                    .about-email-us{
                        margin: 0em;
                    }
                    .find-usimg{
                        width: 35px;
                        height: 35px;
                        
                    }
                    .find-us{
                        text-decoration: underline;
                        margin: 0em;
                        

                    }
                    .about-find-us{
                        margin: 0;
                    }


                }
            }
        }
    }
}

.contact-map{
    background-color: gray;
    margin: 0;
    padding: 1em;
   
    
    iframe{
    width: 100%;
    height: 100%;
    padding: 0em;
    margin: 0em;
    
   
}
}
nav{
    position: fixed;
    z-index: 99;
    width: 50%;
    right: 4em;
    top: 0;
    background: black;
    height: 80vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 2em;
    }

    li{
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1em;
            text-align: right;

            &:hover{
                font-weight: bold;

            }
        }

    }
}

.menu-bar{
    display: block;
    }

.mobile-exit-menu{
    float: right;
    margin: .5em;
    cursor: pointer;
}
.footer{
    .container{
        background-color: rgb(19, 17, 17);
        p{
            margin: 0;
            color: white;
        }
        display: flex;
        place-content: space-between;
        font-size: .5em; 
        padding: 1em;
    }
}
@media only screen and (min-width: 768px){
    .menu-bar{
        display: none;
    }
    .navbar {
        .container{
            display: grid;
            grid-template-columns: 50px auto;
            
            

            nav {
                display: flex;
                background: none;
                position: unset;
                height: auto;
                width: 100%;
                padding: 0em;
                margin-right: 0em;
                
                }
                .mobile-exit-menu{
                    display: none;
                }  

                ul{
                    li{
                    display: inline-flex;
                    color: white; 
                    font-size: .9em;
                    padding: .1em;
                    font-weight: 10em;
                    background: #c39ee2;
                    margin: .5em;
                    
                    border-radius: .5em;
                    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4em);
                    }
                    a{
                        padding: 0em .7em;
                        margin-left: 0em;
                        color: rgb(15, 15, 15);
                        

                        &:hover{
                            background: #9a6fc0;
                            border-radius: .4em;
                          
                            

                        }
                    }
                    
                    
                }
                .primary-nav{
                    margin: 0em 1em;
                    padding: 0em;
                    
                }
               
                

        }
    }

   
         
    


} 

@media only screen and (min-width: 1080px){
    
    .hero{
        
            .container{
        
            .center-design{
                padding: 15em;
  
                .subhead{
                    padding: 1em;
                    margin: 0;
                }

                .hero-cta{
                    display: flex; 
                    place-content: center;
                    text-align: center;

                    .primary-cta{
                        margin-left: 18em;
                        margin-right:1em ;
                    }
                    .watch-video-cta{
                        margin-right: 15em;
                    }

                }
            }

        }
    }


    .second-hero{
        .container{
            ul{
                display: flex;
                padding: 0 ;
                li{
                   margin: 0 1em;
                   padding: 10em;
                   font-size: .6em;
                }
            }
        }
    }
    .third-hero{
        .container{
            padding: 8em;
            .give-cta{
                display: block;
                padding: 5em;
            }
        }
    }

    .fourth-hero{
        .container{
            padding: 8em;
        }
    }

    .fifth-hero{
        .container{
            padding: 2em;

            display: flex;

            .left-side{

                padding: 0em;
                font-size: .8em;
                margin-bottom: 25em;
                margin-right: 5em;
            }

            .right-side{
                padding-left: 0em;
                

            }
        }
    }
    .contact-us{
        .container{
            display: flex;
            place-content: space-between;
            padding: 0em;
            .mfm-logo{
                display: none;

            }

            .details{
                padding: 0em;
                margin-left: 0em;

                ul{
                    li{
                        padding-left: 2em;
                    }
                }
            }
            .contact-map{
                margin-left: 0em;
                margin-bottom: 0em;
                padding: 1em;
               
                iframe{
                    padding: 0em;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
            }
        }
    }
    .footer{
        .container{
            background-color: rgb(19, 17, 17);
            p{
                margin: 0;
                color: white;
            }
            display: flex;
            place-content: space-between;
            font-size: .8em; 
            padding: 1em;
        }
    }
    
}
@media only screen and (min-width: 1450px){
   
    .hero{
        
        .container{
    
        .center-design{
            padding: 20em;

            .subhead{
                padding: 1em;
                margin: 0;
            }

            .hero-cta{
                display: flex; 
                place-content: space-around;
                text-align: center;

                .primary-cta{
                    margin-left: 25em;
                }
                .watch-video-cta{
                    margin-right: 20em;
                }

            }
        }

    }
}

}