body{
    background:#F6E4F8 ;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.firstbar{
    padding: 0em;
   text-align: center;
   

    .container{
        

        .first-img{
            display: flex;
            place-content: center;
            padding: 0em;
            font-size: .8em;
            text-decoration: none;
            
        }
        .fimg{
            margin-right: 1em;
            margin-bottom: 0em;
            padding-top: .8em;
            width: 15px;
            height: 15px;
        }
        p{
            color: black;
            font-weight: 500;
            font-size: 0.8em;
            
        }
        .socialaccounts{
            display: none;
        }
    }
}
.navbar{
    background:#6D1379 ;
    padding: 0;

    .container{
        display: flex;
        place-content: space-between;

        .mfm-img{
            width: 42px;
            height: 39.9px;
            background-color: transparent;
        }
            
        .search{
            display:none;

        }
        .menu-bar{
            width: 20px;
            height: 20px;
            padding-top: .5em;
            padding-bottom: .5em;
        }
        

        nav{
            display: none;
        }
    }

    .mfmimage{

        width: 0%;
        height: auto;
        margin-bottom: -0.5em;
        margin-left: 1em;

    }
    .menu-bar{
        font-weight: 500;
        font-size: 1.2em;
        cursor: pointer;
        margin-right: 1em;

    }

}
.hero{
    .container{
        background: #c281c2;
        padding: 2em;
        .left-side{
            background-color: #b7a3e4;
            margin: 0em;
            box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.4em);
            
            h3{
                font-size: 1.2em;
                text-align: center;
                margin-top: .2em;
                margin-bottom: 0em;
                padding: .5em;


            }
            .about-prayer-request{
                text-align: center;
                margin: 0;
                padding: 1em;
                text-transform: uppercase;
            }
        }
        .right-side{

            .form-m{
                background:#ad60ad ;
                padding: 1em;
                box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.4em);
                
            }

            label{
                display: block;
                font-size: 1.2em;
                margin-bottom: .5em;
            }
            input, textarea{
                width: 100%;
                padding: .8em;
                background-color: #d6aad6;
                margin-bottom: 1em;
                border-radius: .3em;
                border: 1px solid gray;
                box-sizing: border-box;
            }
            input[type="submit"]{
                background-color: #69bfe0;
                color: black;
                font-weight: bold;
                font-size: .8em;
                border: none;
                border-radius: 3em;
                display: inline-block;
                width: unset;
                cursor: pointer;
                box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.4em);

            }
        }
    
    }
}
.contact-us{
    .container{
        text-align: center;
        background: #dda6dd;

        padding: 0;
        .mfm-logo{
            width: 10%;
            height: auto;
            text-align: center;
            

        }

        .details{

            ul{
                padding: .5em;
                li{
                    text-align: center;
                    padding: 1em;

                    .call-us{
                        width: 35px;
                        height: 35px;
                        
                    }
                    .reach-us{
                        text-decoration: underline;
                        margin: 0em;
                        

                    }
                    .about-reach-us{
                        margin: 0;
                    }
                    .email-us{
                        text-decoration: underline;
                        margin: 0;
                        

                    }
                    .about-email-us{
                        margin: 0em;
                    }
                    .find-usimg{
                        width: 35px;
                        height: 35px;
                        
                    }
                    .find-us{
                        text-decoration: underline;
                        margin: 0em;
                        

                    }
                    .about-find-us{
                        margin: 0;
                    }


                }
            }
        }
    }
}

.contact-map{
    background-color: gray;
    margin: 0;
    padding: 1em;
   
    
    iframe{
    width: 100%;
    height: 100%;
    padding: 0em;
    margin: 0em;
   
}
}
.footer{
    .container{
        background-color: rgb(19, 17, 17);
        p{
            margin: 0;
            color: white;
        }
        display: flex;
        place-content: space-between;
        font-size: .5em; 
        padding: 1em;
    }
}
@media only screen and (min-width: 768px){
    .menu-bar{
        display: none;
    }
    .navbar {
        .container{
            display: grid;
            grid-template-columns: 50px auto;
            
            

            nav {
                display: flex;
                background: none;
                position: unset;
                height: auto;
                width: 100%;
                padding: 0em;
                margin-right: 0em;
                
                }
                .mobile-exit-menu{
                    display: none;
                }  

                ul{
                    li{
                    display: inline-flex;
                    color: white; 
                    font-size: .9em;
                    padding: .1em;
                    font-weight: 10em;
                    background: #c39ee2;
                    margin: .5em;
                    
                    border-radius: .5em;
                    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4em);
                    }
                    a{
                        padding: 0em .7em;
                        margin-left: 0em;
                        color: rgb(15, 15, 15);
                        

                        &:hover{
                            background: #9a6fc0;
                            border-radius: .4em;
                          
                            

                        }
                    }
                    
                    
                }
                .primary-nav{
                    margin: 0em 1em;
                    padding: 0em;
                    
                }
               
                

        }
    }
    .hero{
        .container{
            padding: 2em;

            display: flex;

            .left-side{

                padding: 0em;
                font-size: .8em;
                margin-bottom: 25em;
                margin-right: 5em;
            }

            .right-side{
                padding-left: 0em;    

            }
        }
    }

} 
@media only screen and (min-width: 1080px){
    .contact-us{
        .container{
            display: flex;
            place-content: space-between;

            .mfm-logo{
                display: none;
            }
            .contact-map{
                margin-left: 0em;
                margin-bottom: 0em;
                padding: 1em;

                iframe{
                    padding: 0em;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }

            }
        }
    }
    .footer{
        .container{
            background-color: rgb(19, 17, 17);
            p{
                margin: 0;
                color: white;
            }
            display: flex;
            place-content: space-between;
            font-size: .8em; 
            padding: 1em;
        }
    }
}
    