body{
    background:#F6E4F8 ;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.firstbar{
    padding: 0em;
   text-align: center;
   

    .container{
        

        .first-img{
            display: flex;
            place-content: center;
            padding: 0em;
            font-size: .8em;
            text-decoration: none;
            
        }
        .fimg{
            margin-right: 1em;
            margin-bottom: 0em;
            padding-top: .8em;
            width: 15px;
            height: 15px;
        }
        p{
            color: black;
            font-weight: 500;
            font-size: 0.8em;
            
        }
        .socialaccounts{
            display: none;
        }
    }
}
.navbar{
    background:#6D1379 ;
    padding: 0;

    .container{
        display: flex;
        place-content: space-between;

        .mfm-img{
            width: 42px;
            height: 39.9px;
            background-color: transparent;
        }
            
        .search{
            display:none;

        }
        .menu-bar{
            width: 20px;
            height: 20px;
            padding-top: .5em;
            padding-bottom: .5em;
        }
        

        nav{
            display: none;
            
        }
    }

    .mfmimage{

        width: 0%;
        height: auto;
        margin-bottom: -0.5em;
        margin-left: 1em;

    }
    .menu-bar{
        font-weight: 500;
        font-size: 1.2em;
        cursor: pointer;
        margin-right: 1em;

    }

}
.hero{
    padding: 9em;
    background: url("../css/a1.jpeg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    .container{
        text-align: center;
        .jue{

            h3{
                color: white;

            }
        }
    }
}
.hero-second{
    text-align: center;
    background: #2C1F36;
   
    .container{
        h4{
            color: white;
            margin: 0;
            padding: .5em;

        }
    }
}
.hero-third{
    padding: 2em;

    .container{
        ul{
            margin: 0;
            padding: 1em;
            display: block;

            font-size: .6em;
            
           
        }
        .sunday{
            h5{
                text-align: center;
                margin: 0;
                font-size: 1em;
            }
            .sun{
                display: flex;
                justify-content: space-around;
                background:#F7C6C6 ;
                border-radius: 1em;
                padding: 1em;
                max-width: 100%;
                margin: auto;
                box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.4em);
               
            }
        }
        .monday{
            h5{
                text-align: center;
                margin: 0;
                font-size: 1em;
                margin-top: 2em;

            }
            .mon{
                display: flex;
                justify-content: space-around;
                background:#F7C6C6 ;
                border-radius: 1em;
                padding: 1em;
                max-width: 100%;
                margin: auto;
                box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.4em);

            }
        }
        .tuesday{
            h5{
                text-align: center;
                margin: 0;
                font-size: 1em;
                margin-top: 2em;

            }
            .tue{
                display: flex;
                justify-content: space-around;
                background:#F7C6C6 ;
                border-radius: 1em;
                padding: 1em;
                max-width: 100%;
                margin: auto;
                box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.4em);

            }
        }
        .wednesday{
            h5{
                text-align: center;
                margin: 0;
                font-size: 1em;
                margin-top: 2em;

            }
            .wed{
                display: flex;
                justify-content: space-around;
                background:#F7C6C6 ;
                border-radius: 1em;
                padding: 1em;
                max-width: 100%;
                margin: auto;
                box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.4em);

            }
        }
        .thursday{
            h5{
                text-align: center;
                margin: 0;
                font-size: 1em;
                margin-top: 2em;

            }
            .thu{
                display: flex;
                justify-content: space-around;
                background:#F7C6C6 ;
                border-radius: 1em;
                padding: 1em;
                max-width: 100%;
                margin: auto;
                box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.4em);

            }
        }
        .friday{
            h5{
                text-align: center;
                margin: 0;
                font-size: 1em;
                margin-top: 2em;

            }
            .fri{
                display: flex;
                justify-content: space-around;
                text-align: center;
                background:#F7C6C6 ;
                border-radius: 1em;
                padding: 1em;
                max-width: 100%;
                margin: auto;
                box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.4em);

            }
        }
        .saturday{
            h5{
                text-align: center;
                margin: 0;
                font-size: 1em;
                margin-top: 2em;

            }
            .sat{
                display: flex;
                justify-content: space-around;
                background:#F7C6C6 ;
                border-radius: 1em;
                padding: 1em;
                max-width: 100%;
                margin: auto;
                box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.4em);

            }
        }
    }
}
.footer{
    .container{
        background-color: rgb(19, 17, 17);
        p{
            margin: 0;
            color: white;
        }
        display: flex;
        place-content: space-between;
        font-size: .5em; 
        padding: 1em;
    }
}
@media only screen and(min-width: 768px){
    .menu-bar{
        display: none;
    }
    .navbar {
        .container{
            display: grid;
            grid-template-columns: 50px auto;
            
            

            nav {
                display: flex;
                background: none;
                position: unset;
                height: auto;
                width: 100%;
                padding: 0em;
                margin-right: 0em;
                
                
                }
                .mobile-exit-menu{
                    display: none;
                }  

                ul{
                    
                    li{
                    display: inline-flex;
                    color: white; 
                    font-size: .9em;
                    padding: .1em;
                    font-weight: 10em;
                    background: #c39ee2;
                    margin: .5em; 
                    border-radius: .5em;
                    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4em);
                    }
                    a{
                        padding: 0em .7em;
                        margin-left: 0em;
                        color: rgb(15, 15, 15);
                        

                        &:hover{
                            background: #9a6fc0;
                            border-radius: .4em;
                          
                            

                        }
                    }
                    
                    
                }
                .primary-nav{
                    margin: 0em 1em;
                    padding: 0em;
                    
                }
               
                

        }
    }
    .container{
        .sunmon{
            display: flex;
            justify-content: space-around;
            margin: 0em;
    
            .monday{
                h5{
                    margin-top: 0;
                }
            }
    
        }
        .tuewed{
            display: flex;
            justify-content: space-around;
            margin: 0em;
        }
        .thufri{
            display: flex;
            justify-content: space-around;
            margin: 0em;
        }
        .saturday{
            padding: 5em;
            h5{
                text-align: center;
                margin: 0;
                font-size: 1em;
                margin-top: 0em;

            }
            .sat{
                display: flex;
                justify-content: space-around;
                background:#F7C6C6 ;
                border-radius: 1em;
                padding: em;
                max-width: 100%;
                margin: auto;
                box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.4em);

            }
        }

    }
  
   
  
}
@media only screen and(min-width: 1080px){
    .hero{
        padding: 10em;
        font-size: 1.5em;
        margin: 0;
        .container{
            .jue{
                h3{
                    color: white;
                }

            }
            

        }
       
        
    }
    .hero-second{
        .container{
            font-size: 1.2em;
        }
    }
    .hero-third{
        padding: 5em;
        .container{
            .sunmon{
                .sunday{
                    h5{
                        font-size: 1.5em;
                    }
                    padding: 0em;
                    .sun{
                        padding: 2.5em;
                        font-size: 1.5em;
                    }
                }
                .monday{
                    h5{
                        font-size: 1.5em;

                    }
                    .mon{
                        padding: 2.5em;
                        font-size: 1.5em;

                    }
                }
            }

            .tuewed{
                .tuesday{
                    h5{
                        font-size: 1.5em;

                    }
                    .tue{
                        padding: 2.5em;
                        font-size: 1.5em;

                    }
                }
                .wednesday{
                    h5{
                        font-size: 1.5em;

                    }
                    .wed{
                        padding: 2.5em;
                        font-size: 1.5em;

                    }
                }

            }
            .thufri{
                .thursday{
                    h5{
                        font-size: 1.5em;

                    }
                    .thu{
                        padding: 2.5em;
                        font-size: 1.5em;

                    }
                }
                .friday{
                    h5{
                        font-size: 1.5em;

                    }
                    .fri{
                        padding: 2.5em;
                        font-size: 1.5em;

                    }
                }
            }
            .saturday{
                h5{
                    font-size: 1.5em;

                }
                .sat{
                    padding: 2.5em;
                        font-size: 1.5em;

                }
            }
        }
    }
    .footer{
        .container{
            background-color: rgb(19, 17, 17);
            p{
                margin: 0;
                color: white;
            }
            display: flex;
            place-content: space-between;
            font-size: .8em; 
            padding: 1em;
        }
    }
    
    
}
